@model RehberUygulamasi.Models.Entities.Kisi
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container col-xl-6 col-lg-8 col-md-8 col-sm-12 p-3">
    <h2>Kişi Detay</h2>
    @Html.Hidden("id", Model.Id)
<div class="card">
    <div class="list-group-item list-group-item-action">
        <label class="card-title">Ad:</label>
        <p class="card-text">@Model.Ad</p>
    </div>
    <div class="list-group-item list-group-item-action">
        <label class="card-title">Soyad:</label>
        <p class="card-text">@Model.Soyad</p>
    </div>
    <div class="list-group-item list-group-item-action">
        <label class="card-title">Telefon:</label>
        <p class="card-text">@Model.Telefon</p>
    </div>
</div>
<div class="d-flex justify-content-between mt-1">
    <a class="btn btn-info" href="/Kisi/Guncelle/@Model.Id">
        <i class="mr-2 fa fa-save"></i>
        <span>Güncelle</span>
    </a>
    <a class="btn btn-danger" href="/Kisi/Sil/@Model.Id" onclick="return confirm('Kişiyi silmek istediğine emin misin?');">
        <i class="mr-2 fa fa-trash"></i>
        <span>Sil</span>
    </a>
</div>
</div>
