@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<div class="container card col-xl-6 col-lg-8 col-md-8 col-sm-12 p-3">
    <h2 class="card-title">Kişi Ekle</h2>
    <form action="/Kisi/Ekle/" method="post" class="form-horizontal">
        <div class="form-group">
            <label class="card-title">Ad:</label>
            <input type="text" class="form-control" name="Ad" required/>
        </div>
        <div class="form-group">
            <label class="card-title">Soyad:</label>
            <input type="text" class="form-control" name="Soyad" required/>
        </div>
        <div class="form-group">
            <label class="card-title">Telefon:</label>
            <input type="text" class="form-control" name="Telefon" required/>
        </div>
        <button class="btn btn-primary" type="submit">
            <i class="mr-2 fa fa-save"></i>
            <span>Kaydet</span>
        </button>
    </form>
</div>